.content
    threshold = 600px

    padding 50px 0

    +max-screen(threshold)
        padding 37px 0

    display flex
    flex-direction column
    align-items center
    justify-content center
    background-color white

    &__post
        width 100%
        max-width 700px

        margin 30px 60px

        +max-screen(threshold)
            margin 30px 40px

        background-color white
