@import './variables'

html, body
    overflow hidden

.front-page
    height 100vh

    &__content
        min-height 100vh
        display inline-block
        width 100%

    &__perspective
        overflow-y auto
        overflow-x hidden

        height 100%
        perspective 1px
        perspective-origin 50% (splash-min-height / 2)

        +min-screen-height(splash-min-height + page-visibility)
            perspective-origin 50% 'calc(50% - %s / 2)' % page-visibility
