.header
    position fixed
    z-index 1
    top 0
    left 0
    bottom 0
    right 0
    width 100%
    height 50px
    padding 5px
    background-color white
    border-bottom 1px solid #ddd

    display flex
    justify-content center
    align-items center

    &__logo
        size = 60px
        height size
        width (size * 2)
        margin 0 20px

    a
        color #555
        font-family 'Montserrat', sans-serif
        font-weight 400
        text-decoration none
        font-size 20px

        transition all 0.1s ease

        &:hover
            color #999
