p
    &:first-child
        margin-top 15px

    font-family 'Slabo 27px', serif
    margin 20px 0

    letter-spacing 0.03em
    line-height 1.7em
    font-size 1.3rem
    color #333

h1
    font-family 'Montserrat', sans-serif
    margin-bottom 7px

h2
    font-family 'Merriweather', serif
    color #666
    font-size 1em
