@import url('https://fonts.googleapis.com/css?family=Merriweather:400i|Open+Sans:700|Montserrat:400,700|Slabo+27px')

@require '~normalize-styl'
@require '~nib/lib/nib/index'
@require '~sass-less-stylus.easing/easings'
@require '~stylus-media-queries'

@import 'styles/*.styl'

*
    margin 0

html, body, #root
    background-color #231f20
